---
import Base from "../layouts/Base.astro";
const tituloPg = "Sobre mi";
const misdatos = {
  nombre: "Enrique",
  pais: "España",
  soy: "desarrollador fullstack",
  aficciones: ["montaña", "historia", "cocina"],
  conocimientos: ["HTML", "CSS", "Javascript", "React", "Astro"],
};
const fin = false;
const llevo_dias = 5; 
const estudiando = {
  blog:    llevo_dias <= 3, //llevamos 3 dias o menos etudiando?
  content: llevo_dias <= 6,
  view:    llevo_dias <= 9,
};
const fuente = 'Courier New ';
---
<Base tituloPg={tituloPg}>
  <h2>... ¡y mi nuevo sitio Astro!</h2>
  <p style="color: brown; text-decoration: underline;">
    Este sitio se irá actualizando a medida que vaya completando más partes del
    tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!
  </p>
  <ul>
    <li>
      Soy {misdatos.nombre} y vivo en {misdatos.pais} .Soy {misdatos.soy}.
    </li>
    {
      misdatos.aficciones.length >= 2 && (
        <li class="aficciones">
          Dos de mis aficiones son: 
          <ol>
          <li>{misdatos.aficciones[0]}</li>
           
          <li>{misdatos.aficciones[1]}</li>
          </ol>
        </li>
      )
    }
  </ul>
  <p>Mis habilidades son:</p>
  <ul class="conocimientos">
    {misdatos.conocimientos.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {fin && <p>¡He terminado este tutorial!</p>}
  {
     estudiando.blog    ? 
    ( <p>Ahora estoy construyendo un blog .</p> ) 
    :
    (estudiando.content ?
      <p>Estoy viendo como gestionar colecciones de contenido.</p> :
      <p>WoW ¡View Transitions!.</p> )
  }
</Base>
<style define:vars={{fuente}}>
h2 {
  color: blueviolet;
  background-color: aqua;
}
.aficciones ol{
  color: green;
  font-family: var(--fuente);
}
.conocimientos :nth-child(2n+1){
color: blue;
}
.conocimientos :nth-child(2n){
color: red;
font-family: var(--fuente);
}
</style>